

    .fondo{
        
        max-width: 1000px;
        width: 100%;
        height: 100%;
    }

    .fondo2{
     
        min-height: 100vh;
    }


    .input{
        border: 1px solid #FD7202;
        border-radius: 2rem;
        width: 100%;
    }

   


    .search{
        border-radius:2rem
    }

    .search:focus{
        outline: none;
    }

    .button{
        background-color: #FD7202;
        border: 0;
        border-radius: 0rem 2rem 2rem 0rem;
    }

    .select{
        background-color: #FD7202;
        border: 0;
    }

    .select:focus{
        outline: none;
    }

    @media (min-width: 768px) { 
        .input{
            width: 50%;
        }
    }