
.posteo{
    margin:3rem;
    display: flex;
    justify-content: center;
    
}
.posteo img{
    margin-right: 1rem;
    border-radius: 50%;
    
}

.text{
    width: 40%;
    border-radius: .5rem;
    border: solid grey .025rem;
}


