.ancho {
  width: 100%;
  overflow-x: hidden;
}

.boxshadow {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.096);
}

.avisoImage {
  width: 150px;
}

.profilePicture {
  border-radius: 50%;
}

@media (min-width: 998px) {
  .ancho {
    width: 50%;
  }
}
