.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newPost span:nth-child(1) {
    font-size: 24px;
}

.newPost span:nth-child(2) {
    color:#4E4D4D;
}

.circle {
    width:75px;
    margin-right: 0.8rem;
}

.arrow {
    width:45px;
}

.forumTag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004A30;
    width:100px;
    height:40px;
    color: rgb(228, 227, 227);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 12px;
}
