.modalContainer {
    position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button {
    width: 75px;
    border:none;
    background-color: #e47f45;
    color:White;
    padding: 0.3rem 0 0.3rem 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 5px;
}

.buttonCancel {
    width: 75px;
    border:none;
    background-color: #b4a49b;
    color:rgb(27, 27, 27);
    padding: 0.3rem 0 0.3rem 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}