
.bar{
background-color: #FD7202;
/* color: white !important;
text-decoration: none !important; */
}

.link_style{
    margin-left: 5rem;
}

.links{
    color: white;
    text-decoration: none;
    margin: 0.5em;
}