.container {
  height: auto;
  width: 80%;
  left: calc(50% - 300px);
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  display: flex;
  height: 280px;
  width: 100%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #0a0d34;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: 10px;
}

.card:first-child{
  margin-top: 40px;
}

.card img{
  height: 50px;
  width: 50px;
  margin: 10px 10px;
}


.card:hover {
  transform: translateX(+5  px);
  transition: 0.4s ease-out;
  transform: scale(1.1,1.1);
  z-index: 50;
}

.card:hover ~ .card {
  position: relative;
  transition: 0.4s ease-out;

}

.card p{
  color: white;
  margin: 10px 20px;
}

.bar {
  position: absolute;
  top: 70px;
  left: 20px;
  height: 5px;
  width: 90%;
}

.emptybar {
  background-color: #e47f45ac;
  width: 90%;
  height: 90%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, #1f288c, #e47f45);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 90%;
  transition: 0.4s ease-out;
}


.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.datos{
  display: flex;
  color: white;
  font-weight: 300;
}

.datos h3{
  position: relative;
  top: 25px;
}

#bottomCard{
  display: none;
}

@media screen and (min-width:768px) {

  
  #bottomCard{
    display: flex;
  }

  .flecha{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 5px;
  }
  
  .upper {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .bottom{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  #flechas{
    display: flex;
    position: relative;
    top: 480px;
    flex-wrap: wrap;
    width: 10px;
    margin-left: 60px ;
  
  }

  #upperCard{
    opacity: 0.5;
  }

  #bottomCard{
    opacity: 0.5;
  
  }

  #middleCard{
    transform: scale(1.1,1.1);
    z-index: 50;
  }
}